.container {
  display: flex;
  background-color: var(--color-50);
  flex-direction: column;
  padding: 1em;
  transition: all 0.5s ease;
  white-space: nowrap;
  max-width: 8em;
}
.container:hover {
  background-color: var(--color-100);
  /* border-radius: 0.5em; */
}
.img {
  flex: 1;
  aspect-ratio: 1;
}
.adName {
  color: var(--color-0);
  overflow: hidden;
  font-size: 0.6em;
}
.adPrice {
  font-weight: bold;
  font-size: 1.3;
  color: var(--color-600);
}

/*600px*/

@media screen and (max-width: 600px) {
  .container {
    max-width: 6em;
  }
}
