.main {
  display: flex;
  max-width: 100%;
  height: calc(100vh - 60px - 256px);
  overflow: hidden;
  background-color: var(--color-100);
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: var(--color-50);
  border-radius: 0.5em;
}
.title {
  color: black;
  font-size: 3em;
}
.img {
  width: 20%;
  object-fit: contain;
}
.buttonContainer {
  display: flex;
  gap: 0.5em;
}
