.main {
  display: flex;
  max-width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  background-color: #f1f1f1;
  position: relative;
}
.menu {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.title {
  color: black;
  font-size: 4.5em;
}
.img {
  width: 100%;
  object-fit: cover;
}
.buttonContainer {
  display: flex;
  gap: 0.5em;
}
